/* BASIC STYLES HERE */
.present-maker {
    background-color: #217a31c6;
    flex-grow: inherit;
    min-height: 100vh
}

.present-card {
    background-image: url(https://images.unsplash.com/photo-1513321312075-f83271be3474?q=80&w=1934&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}