<div class="container-fluid">
    <section class="row">
        <div class="col-4 present-maker">
            <h1>Presents!</h1>
            <div class="p-5">
                <form onsubmit="app.PresentController.createPresent()">
                    <div class="form-floating mb-5">
                        <input name="url" type="url" class="form-control" id="floatingInput" placeholder="url">
                        <label for="floatingInput">Gift Picture Url</label>
                    </div>
                    <div class="form-floating">
                        <input name="tag" type="text" class="form-control" id="floatingTag" placeholder="Tagline">
                        <label for="floatingTag">Present Tag</label>
                    </div>
                    <div class="text-end p-4">
                        <button class="btn btn-success text-end" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-8">
            <section id="presentCards" class="row">
                <!-- <div class="col-4">
                    <div class="card text-center shadow present-card">
                        <img class="card-img-top" src="holder.js/100px180/" alt="Title" />
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">Body</p>
                        </div>
                    </div>
                </div> -->
            </section>
        </div>


</div>
</section>
</div>